.card-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.info-esquerda {
    flex: 1;
}

.titulo-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome-pokemon {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--ion-text-color);
    transition: color 0.6s ease;
}

.favoritos-titulo {
    font-weight: bold;
    color: var(--ion-text-color);
    transition: color 0.6s ease;
}

.tipo-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 5px;
}

ion-label.texto-tipo {
    font-weight: bold;
    color: var(--ion-text-color);
    transition: color 0.6s ease;
}

.imagens-pokemon {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.imagem-pokemon {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.imagem-pokemon-shiny {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.item-compact {
    --min-height: unset;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    height: auto;
    width: fit-content;
    margin: 0;
    padding: 0;
}

ion-list,
ion-item {
    --inner-border-width: 0px;
    --border-width: 0px;
    --border-color: transparent;
    --background: transparent!important;
    background: transparent!important;
    border: none;
    margin: 2px;
    padding: 2px;
    font-size: .7rem;
    height: fit-content;
}

ion-label {
    font-size: .7rem;
    width: fit-content;
    height: fit-content;
    margin: 0;
}

ion-item,
ion-label {
    color: var(--ion-text-color);
    transition: color 0.6s ease;
}