<ion-content 
  [fullscreen]="true" 
  class="ion-padding">
  <form (submit)="procurarPokemon()">
    <ion-item class="itens">
      <ion-input
        class="custom"
        autocomplete="on"
        [(ngModel)]="nomePokemon"
        name="nomePokemon"
        placeholder="Digite o nome do Pokémon"
        required
        (keydown.enter)="procurarPokemon()">
      </ion-input>
      <ion-button 
        type="submit" 
        slot="end" 
        class="custom">
        Procurar
      </ion-button>
    </ion-item>
  </form>

  <ion-card *ngIf="pokemon">
    <div class="card-pokemon">
      <ion-card-header>
        <ion-card-title 
          class="ion-text-capitalize nome-pokemon">
          {{ pokemon.nome }}
        </ion-card-title>
      </ion-card-header>

      <img 
        class="imagem-pokemon"
        [src]="pokemon.imagem" 
        [alt]="pokemon.nome" />
      <ion-button 
        (click)="irParaTab2()"
        slot="end"
        class="botao-infos">
        + Infos
      </ion-button>
    </div>
  </ion-card>
</ion-content>