<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Pokedex BSN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="procurarPokemon()">
    <ion-item>
      <ion-input
        [(ngModel)]="nomePokemon"
        name="nomePokemon"
        placeholder="Digite o nome do Pokémon"
        clearInput
        required
        (keydown.enter)="procurarPokemon()">
      </ion-input>
      <ion-button type="submit" slot="end">Procurar</ion-button>
    </ion-item>
  </form>
</ion-content>